.wrapper__btn {
    border: none;
    margin-top: 20px;

    &_mini {
        border: none;
        text-align: center;
        background: grey;
        border: none;
        width: 90px;
        height: 40px;
        font-size: 16px;
        text-decoration: none;
        border: none;
    }

    &_big {
        font-size: 15px;
        background: #fff;
        color: black;
        width: 220px;
        height: 40px;
        border: 2px solid black;
    }
}