.nav-bar {
    background-color: black;
    height: 27px;
    padding: 16px 150px;



    &__menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        // padding: 16px 100px;
        font-weight: 700;

        a {
            display: inline-block;
            justify-content: start;
            text-decoration: none;

            span {
                color: $main-color;
                margin-right: 15px;
            }
        }

        li {
            margin: 0;
            display: inline-block;
            list-style-type: none;
            text-decoration: none;

            a {
                justify-content: space-between;
                margin-left: 30px;
            }

            span {
                margin-left: 30px;
            }
        }


    }
}