.viewport {
    height: 740px;
    background: url(../img/l-11.jpg) center (center/cover) no-repeat;
    padding: 60px 0 0 145px;

    .wrapper {
        // position: relative;
        display: inline-block;
        width: 350px;
        height: 457px;
        background-color: #fff;
        padding: 40px 40px 0 40px;

        h1 {
            text-align-last: left;
            font-size: 25px;
            color: black;
        }


        .login {

            input {
                border: #CCCCCC solid 3px;
                margin: 0;
                outline: none;
                height: 40px;
                width: 100%;
            }

            h2 {
                line-height: 16px;
                margin-top: 10px;
                color: black;
                font-size: 16px;
            }

            label {
                h2 {
                    margin-top: 20px;
                    margin-bottom: 5px;
                }

            }

            #forgot {
                margin-bottom: 20px;
                text-decoration: underline;
            }




            .separate {
                margin-top: 25px;
                position: relative;
                z-index: 1;
                overflow: hidden;
                text-align: center;

                ::before,
                ::after {
                    content: '';
                    display: inline-block;
                    width: 100%;
                    height: 1px;
                    background: #000;
                    z-index: -1;
                    position: relative;
                    vertical-align: middle;
                }

                ::before {
                    right: 15px;
                    margin: 0 0 0 -100%;
                }

                :after {
                    left: 15px;
                    margin: 0 -100% 0 0;
                }

                span {
                    color: black;
                    font-weight: 400;
                    font-size: 16px;
                }
            }

            .social {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 25px;
                margin-bottom: 50px;
                

                &__items {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 100px;
                    height: 40px;
                    background-color: white;
                    border-radius: 100px;
                    border: #CCCCCC solid 1px;
                    padding: 5px 15px 5px 5px;
                    

                }

                &__item {
                    display: flex;
                    align-items: center;
                    img {
                        height: 40px;
                        width: 40px;
                    }
                    span{
                        padding: 5px;
                        color:black;

                    }

                }
            }

        }


    }

}